root = true

[*]
end_of_line = LF

[*.php]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 4

[*.xml]
indent_style = space
indent_size = 4

[*.map]
indent_style = space
indent_size = 4

[*.js]
indent_style = space
indent_size = 4

[*.twig]
indent_style = space
indent_size = 4