logs/*

www/src/vendor
www/src/Cache
www/src/Backups/Modification
www/src/Dev
www/src/Logs

www/public/ui/vendor/compiled.admin.js
www/public/ui/vendor/compiled.core.js
www/public/ui/vendor/compiled.editor.admin.js
www/public/ui/vendor/compiled.editor.js
www/public/ui/vendor/compiled.gestures.app.js
www/public/ui/vendor/compiled.gestures.css
www/public/ui/themes/admin/assets/compiled.admin.css
www/public/ui/themes/frontend/assets/compiled.core.css
www/public/ui/vendor/compiled.gestures.gestures.css
www/public/ui/vendor/compiled.install.js
www/public/ui/vendor/compiled.monaco.editor.admin.js

www/.env