# Fix syntax highlighting for custom framework extensions.
src/install.lock linguist-language=Json
src/Addons/*.noactive linguist-language=Yaml
src/Addons/gitignore.custom linguist-language=Ignore-List

.env.init linguist-language=Dotenv