# Fix syntax highlighting for custom framework extensions.
www/src/install.lock linguist-language=Json
www/src/Addons/*.noactive linguist-language=Yaml
www/src/Addons/gitignore.custom linguist-language=Ignore-List

mention-docker.code-workspace linguist-language=Json

.env.init linguist-language=Dotenv