par_settings:
    name: "Mention Discussion Forum"
    global:
	    "Coding_Style": "PSR-12"
		"Par_File_Format": "Application Standarts for Mention Environment"
		"Par_File_Format_Version": "2.2.4"
		"Bin": "bin"
        "Console": "bin/console"		
		"Init": "src"
		"Vendor": "src/vendor"
		"Application": "src/App"
		"Config_Ext": "yaml"
		"Routing": "Symfony"
		"Symfony_Ver": "5"
		"Template": "Twig 3"
		"Query_Style": "Doctrine DBAL"
		"Editor": "Visual Studio Code"
		    "Extensions": ["Auto Close Tag", "Auto Rename", "Code Runner", "Css Peak", "Icon Fonts", "MySQL", "PHP Debug", "PHP Intelephense", "PHP Intellisense", "PHP Namespace Resolver"]
		"Development_Environment": "Wamp"