body {
	font-family: sans-serif;
}

.sandboxed ul,
.sandboxed ol {
	margin: 0;
	font-size: 14px;
	word-wrap: break-word;
}

.sandboxed .bbWrapper_reddit {
	display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500
}

.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
	color: rgb(150 150 150);
}

p {
	margin: 0;
	padding: 0;
}

img.js-Twemoji_MentionEditor {
	width: 22px;
	height: 22px;
	vertical-align: text-bottom;
}

.mce-content-body [data-mce-selected=inline-boundary] {
	color: #000;
}