<div class="pr-0">
    <a title="{{ app.sub.lang.string.gestures.discussion.posts.touchgestures }}"
        data-ui="mention-gesture" data-mode="disable"
        class="app-touchGestures-icon active toggle-tooltip" href="#"></a>
</div>