<div class="dropdown">
    <div class="js-AppGestures-ContextMenu dropdown-menu custom-menu custom-menu-md shadow p-0"
        aria-labelledby="dropdownMenuButton">
        <div class="scrollable">
            <a class="notification quick-menu d-flex" data-ui="mention-gesture" data-mode="disable" href="#">
                <div class="text ml-3">
                    <span class="icon bookmark active">Koleksiyona eklendi</span>
                </div>
            </a>
        </div>
    </div>
</div>