<div class="app-post-doubletap-like animate fadeIn d-none">
    <div class="app-reactions reaction-md">
        <div class="reaction like d-none"></div>
        <div class="reaction love d-none"></div>
        <div class="reaction haha d-none"></div>
        <div class="reaction wow d-none"></div>
        <div class="reaction sad d-none"></div>
        <div class="reaction angry d-none"></div>
        <div class="reaction dislike d-none"></div>
    </div>
</div>