<div class="app-headingIndex h4 border-bottom">
    <ol class="pl-3">
        {% for item in string.headings %}
            <li>
                <a href="{{ item.href }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ol>
</div>