:root {
	--mention-primary-font-family: 'Nunito', sans-serif;

	--mention-doc-bg-color: #f8f9fa;
	--mention-doc-text-color: #212529;
	--mention-doc-light-text-color: #676767;

	--mention-link-color: #007bff;
	--mention-link-hover-color: #000;

	--mention-primary-bg-color: #fff;
	--mention-light-bg-color: #f8f9fa;
	--mention-light-hover-bg-color: #e9f0f3;
	--mention-dark-bg-color: #37474f;

	--mention-box-bg-color: #fff;

	--mention-primary-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
	--mention-secondary-shadow: 0 .5rem 1rem rgb(0 0 0 / 35%);
	--mention-light-shadow: 0 2px 10px -2px #cedae0;
	--mention-dark-shadow: 0 2px 10px -2px #3f515a;

	--mention-primary-text-color: #fb8f20;
	--mention-text-white-color: #fff;
	--mention-text-light-color: #fff;
	--mention-text-dark-color: #37474f;
	--mention-text-muted-color: #6c757d;

	--mention-navbar-text-color: rgba(0, 0, 0, .5);
	--mention-navbar-selected-text-color: rgba(0, 0, 0, .9);
	--mention-navbar-dd-hover-bg: #3f515a;

	--mention-app-title-text-color: #404040;

	--mention-primary-border-color: #fb8f20;
	--mention-light-border-color: #dddddd;
	--mention-dark-border-color: #2b2e2f;
	--mention-border-color: #37474f;
	--mention-discussion-border-color: #6693ca;

	--mention-post-approval-bg-color: #fff4e9;
	--mention-post-approval-border-color: #ffca94;
	--mention-post-approval-border-top-color: #ffd6ae;

	--mention-editor-bg-color: #fff;
	--mention-editor-border-color: #eee;
	--mention-editor-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
	--mention-editor-header-shadow: 0 2px 2px -2px rgba(34, 47, 62, .1), 0 8px 8px -4px rgba(34, 47, 62, .07);
	--mention-editor-btn-hover-bg-color: #f0f0f0;
	--mention-editor-btn-select-bg-color: #f7f7f7;

	--mention-loader-spin-color: rgb(55, 71, 79);

	--mention-progress-bg-color: #37474f;
	--mention-progress-indeterminate-bg-color: #ccc;

	--mention-file-label-bg-color: #37474f;
	--mention-file-label-text-color: #e2e2e2;

	--mention-list-group-active-bg-color: #e6e6e6;
	--mention-list-group-hover-bg-color: #f5f5f5;

	--mention-button-bg-color: transparent;
	--mention-button-border-color: #c3c3c3;
	--mention-button-text-color: #ababab;
	--mention-button-hover-bg-color: transparent;
	--mention-button-hover-border-color: #545454;
	--mention-button-hover-text-color: #545454;
	--mention-button-active-bg-color: #37474f;
	--mention-button-active-border-color: transparent;
	--mention-button-active-text-color: #e2e2e2;
	--mention-button-light-bg-color: #ececec;
	--mention-button-light-border-color: #ced4da;
	--mention-button-light-text-color: #37474f;

	--mention-input-bg-color: #fdfdfd;
	--mention-input-border-color: #cbcbcb;
	--mention-input-focus-border-color: #a5a5a5;

	--mention-textarea-bg-color: #fdfdfd;
	--mention-textarea-disabled-bg-color: #ececec;
	--mention-textarea-border-color: #cbcbcb;
	--mention-textarea-text-color: #343a40;
	--mention-textarea-focus-border-color: #a5a5a5;

	--mention-bselect-bg-color: #fdfdfd;
	--mention-bselect-border-color: #a2a2a2;

	--mention-conversation-bg-color: #fcfcfe;
	--mention-conversation-light-bg-color: rgb(255 255 255 / 53%);
	--mention-conversation-message-bg-color: #fa8f20;
	--mention-conversation-message-text-color: #fff;
	--mention-conversation-message-light-bg-color: #fff;
	--mention-conversation-message-light-text-color: #000;

	--mention-tooltip-main-color: #37474f;
	--mention-tooltip-text-color: #fff;

	--mention-scroll-color: #6f8692;
	--mention-scroll-hover-color: #37474f;

	--mention-admin-list-group-header-bg-color: #f3f3f3;
	--mention-admin-list-group-header-hover-bg-color: #f7f7f7;

	--mention-table-text-color: #212529;
	--mention-table-nth-bg-color: rgba(0, 0, 0, .05);
	--mention-table-border-color: #dee2e6;

	--mention-post-highlight-bg-color: #ffffde;

	--mention-post-count-text-color: #7777bf;
	--mention-post-views-text-color: #269626;

	--mention-editor-hide-backdrop-bg-color: rgb(255 255 255 / 32%);
	--mention-editor-hide-backdrop-bg-image: linear-gradient(315deg, rgb(255 255 255 / 62%) 0%, rgb(220 220 220 / 55%) 74%);

	--mention-user-status-online-border-color: #53c72e;
	--mention-user-status-offline-border-color: #6b6b6b;
}