<div class="social-login text-center">
	{% for item in app.string.auth.social.getSites() %}
	    {% if item.api_keys is not same as('') %}
		    <button data-init="js-Mention_ExternalLogin" data-callback="{{ item.name }}" class="btn btn-app-social no-anim-ui icon {{ item.name }} mr-2 mt-2" type="button">
			    <i class="fab fa-{{ item.name }}"></i>
			    {{ item.title }}
		    </button>
		{% endif %}
	{% endfor %}
</div>