name: Build Pipeline
on:
  push:
    paths-ignore:
      - '**/*.md'
      - '**/.gitignore'
      - '**/.gitattributes'

concurrency:
  group: ci-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prepare:
      name: Prepare Workspace
      runs-on: ubuntu-latest
      outputs:
        timestamp: ${{ steps.set-vars.outputs.timestamp }}
        short-sha: ${{ steps.set-vars.outputs.short-sha }}
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Set variables
          id: set-vars
          run: |
              echo "timestamp=$(date +%Y%m%d-%H%M%S)" >> $GITHUB_OUTPUT
              echo "short-sha=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

  php-build:
    name: PHP & Composer Dependencies
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP 8.4
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          extensions: mbstring, intl, pdo, pdo_mysql, zip, xsl, gd

      - name: Install Composer deps
        run: composer install --no-dev --optimize-autoloader

      - name: Save vendor
        uses: actions/upload-artifact@v4
        with:
          name: vendor-stuff-${{ needs.prepare.outputs.timestamp }}-${{ needs.prepare.outputs.short-sha }}
          path: www/src/vendor
          include-hidden-files: true

  package:
    name: Prepare Full Build Package
    runs-on: ubuntu-latest
    needs: [prepare, php-build]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Restore php-vendor
        uses: actions/download-artifact@v4
        with:
          name: vendor-stuff-${{ needs.prepare.outputs.timestamp }}-${{ needs.prepare.outputs.short-sha }}
          path: www/src/vendor

      - name: Upload Full Build
        uses: actions/upload-artifact@v4
        with:
          name: full-build-${{ needs.prepare.outputs.timestamp }}-${{ needs.prepare.outputs.short-sha }}
          path: |
            .
            !www/src/vendor.tar.gz
            !.git
          include-hidden-files: true
          if-no-files-found: error